{% include 'navbar.html' %}
{% load static %}
{% block content%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title> HR Editing Page</title>
    <!-- <link rel="stylesheet" href="homePage.css"> -->
    <meta name="description" content="This is the editing page" />
    <link rel="stylesheet" href="{% static 'css/updateEmployee.css' %}">
</head>

<body>
    <!-- <div class="navBar">
        <a class="active" href="HomePage.html">Home</a>
        <a href="phase1.html">ADD EMPLOYEE</a>
        <a href="projectPhase1.html">UPDATE EMPLOYEE</a>
        <a href="searchEmp.html">SEARCH EMPLOYEE</a>
        <a href="VR.html">VACATION REQUESTS</a>
        <font class="logo"><b>FCAI</b></font>
    </div> -->
    <br>
    <h1>Update Employee</h1>
    <div class="bigdiv">
        <form name="upform" action="updaterecord/{{ mymember.EmployeeID }}" method="post" >
            {% csrf_token %}
            <div class="radio1">
                <div>
                    <br>
                    <label> Name</label>
                    <input class="nametbup" type="text" id="new" name="EmployeeName" value="{{ mymember.EmployeeName }}"> <br>
                </div>
                <br>
                <div>
                    <label> ID </label>
                    <input type="text" ID="newID"   name="EmployeeID"  value="{{ mymember.EmployeeID }}"><br>
                    <br>
                </div>
                <div>
                    <label> Email </label>
                    <input type="email" id="mail" name="email" value="{{mymember.email}}"><br>
                </div>
                <br>
                <div>
                    <label> Phone Number </label>
                    <input type="number" id="num" name="phone" value="{{mymember.phone}}"><br>
                </div>
                <br>
                <div>
                    <label> Address </label>
                    <input type="text" id="a" name="Addres" value="{{mymember.Addres}}"><br>
                </div>
                <br>
                <div>
                    <label> Salary </label>
                    <input type="number" id="s" name="Salary" value="{{mymember.Salary}}"> <br>
                </div>
                <br>
                <div>
                    <label> Number of Available Vacation days </label>
                    <input type="number" id="vacdays" name="NumberVacation" value="{{mymember.NumberVacation}}"> <br>
                </div>
                <br>
                <div>
                    <label> Number of Actual approved Vacation Days </label>
                    <input type="number" id="approved" name="NumberApprovedVacation" value="{{mymember.NumberApprovedVacation}}"> <br>
                </div>
                <!-- <div>
                    <label> Birth Date </label>
                    <input type="date" id="d" value="{{mymember.phone}}"><br>
                </div> -->

                <br>
<!--                 
                <div class="choose1">
                    <div class="choose1"> <label for="gender">Gender: </label>
                    </div>
                    <div class="choose">
                        <input type="radio" required name="gender" id="female" value="female">
                    </div>
                    <div class="choose">
                        <label for="female">Female</label>
                    </div>
                </div>
                <div class="choose1">
                    <div class="choose">
                        <input type="radio" required name="gender" id="male" value="male">
                    </div>
                    <div class="choose">
                        <label for="male">Male</label>
                    </div>
                </div>
                <br>
                
                <div class="choose1">
                    <div class="choose1"> <label for="gender">Status: </label></div>
                    <div class="choose">
                        <input type="radio" required name="status" id="active" value="Active">
                    </div>
                    <div class="choose">
                        <label for="active">Active</label>
                    </div>
                </div>
                <div class="choose1">
                    <div class="choose">
                        <input type="radio" required name="status" id="inactive" value="inactive">
                    </div>
                    <div class="choose">
                        <label for="inactive">Inactive</label>
                    </div>
                </div>
                
                <div class="choose1">
                    <div class="choose1"> <label for="gender">Marital Status: </label></div>
                    <div class="choose">
                        <input type="radio" required name="mstatus" id="married" value="married">
                    </div>
                    <div class="choose">
                        <label for="Married">Married</label>
                    </div>
                </div>
                <div class="choose1">
                    <div class="choose">
                        <input type="radio" required name="mstatus" id="single" value="single">
                    </div>
                    <div class="choose">
                        <label for="Single">Single</label>
                    </div>
                </div> -->

                <input type="submit" value="Update"><br>
                <!-- <input type="reset" value="Reset"> -->

        </form>
    </div>
</body>




</html>
<!-- <script src="EditEmployee.js"></script> -->
{%endblock content %}