<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'navbar.html' %}
    {% load static %}

    <meta charset="UTF-8">
        <title>
            Home Page
        </title>
        <link rel="stylesheet" href="{% static 'css/homePage.css'%} ">

</head>
<body>
 <br /><br /><br /><br /><br /><br /><br /><br /><br />
	    <h1>WELCOME TO FCAI<br>HUMAN RESOURCES SYSTEM
        </h1>

        <h3>
                This system will help you organize your work, task and save your time, also will help you manage the employees easier
                <br>
                and faster, and track them easier, and to get your work done easier and faster.
        </h3>
</body>
</html>