{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/homePage.css'%} ">
    {% include 'navbar.html' %}
    

    <meta charset="UTF-8">
        <title>
            Home Page
        </title>
        
        <style>
            body {
                background-image: url("{% static 'image/HP2v3.png' %}");
            }
        </style>  

</head>
<body>
<br /><br /><br /><br /><br /><br />
<div class="text">



	    <h1>WELCOME TO FCAI<br>HUMAN RESOURCES SYSTEM
        </h1>
 </div >
<div class="text2">
        <h3>
                This system will help you organize your work, task and save your time, also will help you manage the employees easier
                <br>
                and faster, and track them easier, and to get your work done easier and faster.
        </h3>
</div>

</body>
</html>