<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/navBar.css' %}">
{% block content%}


    <!-- Navigation bar -->
    <div class="navBar">
        <a class="active" href= "{% url 'homePage' %}" >Home</a>
        <a href= "{% url 'add'%}" >Add Employee</a>
        <a href= "{% url 'updateEmployee'%}">Update Employee</a>
        <a href="{% url 'searchEmployee' %}" >Search Employee</a>
        <a href="VR.html">Vacation Requests</a>
        <font class="logo"><b>FCAI</b></font>
    </div>
    <br><br><br><br>


{% endblock content %}

</html>
