<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/navBar.css' %}">
{% block content%}


<body>
    <!-- Navigation bar -->
    <div class="navBar">
        <a class="active" href="{% url 'HomePage' %}">Home</a>
        <a href="{% url 'phase1' %}">ADD EMPLOYEE</a>
        <a href="{% url 'table' %}">UPDATE EMPLOYEE</a>
        <a href="{% url 'searchEmployee' %}" >Search Employee</a>
        <a href="{% url "VRDisplay" %}">Vacation Requests</a>

        <font class="logo"><b>FCAI</b></font>
    </div>
    <br><br><br><br>


{% endblock content %}

</html>
