<!DOCTYPE html>
<html>
  <head>
    {% include 'navbar.html' %}
    {% load static %}
    <meta charset="UTF-8" />
    <title>Search Employee</title>
    <link rel="stylesheet" href="{% static 'css/searchEmp.css'%}" />
    <meta name="description" content="" />
  </head>

  <body>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="searchbox">
      <br />
      <h1>Search Employee</h1>
      <br />
      <form id ="searchForm">
        <label for="empId">Enter Employee first name:</label><br /><br />
        <input id="empName" class="inputbox" type="text" name="eName" /><br /><br
        /><br />
        <button id="button" class="submitbutton">Search</button>

      </form>
<br><br><br>
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js">
  </script>
{#<script src = "{% static "js/searchEmp.js" %}"></script>#}

        <script> const searchForm = document.querySelector("#searchForm")
      const searchResaultContainer = document.querySelector("#searchResults")

      //put event listener to see the sumbtion
      searchForm.addEventListener("submit", function (event) {
          event.preventDefault();

          const employeeName = document.getElementById('empName').value;



          $.post("/getEmployee/", { eName: employeeName }, (data) => {

              searchResaultContainer.innerHTML = data;


          });

      });
</script>
      <!-- Container for the search results -->
      <div id="searchResults"></div>
    </div>



</body>
</html>