{% load static %}

<link rel="stylesheet" href="{% static 'css/table.css' %}">
{#<link rel="stylesheet" href="{% static 'css/searchEmpOutput.css' %}">#}
{% include 'navbar.html' %}

<script src="{% static 'js/deleteConfimation.js' %}" ></script>
<style>
    body {
        background-image: url("{% static 'image/HP2v3.png' %}");
    }
</style>  
<body>
{% block content %}

<table  id="table">

<tr class = "header">
<th class = "header">ID</td>
<th class = "header">Name</td>
<th class = "header">Email</td>
<th class = "header">Phone Number</td>
<th class = "header">Address</td>
<th class = "header">Salary</td>
<th class = "header">Number of <br> Vacation days</td>
<th class = "header">Number of days <br> Approved</td>
<th class = "header">Date Of Birth</td>
<th class = "header"> Gender</td>
<th class = "header">Status</td>
<th class = "header">Maritual <br> Status</td>
<th class = "header"></td>
<th class="header"></td>
</tr>
{% for x in mymembers %}
<tr>
<td>{{ x.EmployeeID }}</td>
<td>{{ x.EmployeeName }}</td>
<td>{{ x.email }}</td>
<td>{{ x.phone }}</td>
<td>{{ x.Addres }}</td>
<td>{{ x.Salary }}</td>
<td>{{ x.NumberVacation }}</td>
<td>{{ x.NumberApprovedVacation }}</td>
<td>{{ x.Date }}</td>
<td>{{ x.Gender }}</td>
<td>{{ x.Status }}</td>
<td>{{ x.MARITALSTATUE }}</td>
<td class="btn"><button class = "button"><a href="update/{{ x.EmployeeID }}" class="link">Update </a></button></td>
<td class="btn"><button class = "button"><a href="delete/{{ x.EmployeeID }}" class="link"  onclick="confirmDelete()">Delete</a></button></td>
</tr>
{% endfor %}    
</table>
</body>


{% endblock content %}