
{% include 'navbar.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/VRCSS.css" /> 
        <title>
            Vacations Requests 
        </title>
    
    </head>
    <body>
        <div><h2> Vacations Requests </h2></div>
        
    </br></br>
    <!-- Container for the search results -->
    <div id="searchResults"></div>
        <!--<form>
            <div>
                <button id="E1">Employee name1</button>
                &nbsp;
                <button>Approve</button>
                &nbsp;
                <button>Reject</button>
            </div>
         <br>
            <div>
                <button id="E2"> Employee name2</button>
                &nbsp;
                <button>Approve</button>
                &nbsp;
                <button>Reject</button>
            </div>
         </br>
            <div>
                <button id="E3">Employee name3</button>
                &nbsp;
                <button>Approve</button>  &nbsp;
                <button>Reject</button>
            </div>
          <br>
            <div>
                <button id="E4">Employee name4</button>
                &nbsp;
                <button>Approve</button>  &nbsp;
                <button>Reject</button>
            </div>
        </br>
            <div>
                <button id="E5">Employee name5</button>
                &nbsp;
                <button>Approve</button>  &nbsp;
                <button>Reject</button>
            </div>
        <br>
            <div>
                <button id="E6">Employee name6</button>
                &nbsp;
                <button>Approve</button>  &nbsp;
                <button>Reject</button>
            </div>
        </br>
    <div>
        <button id="E7">Employee name7</button>
        &nbsp;
        <button>Approve</button>  &nbsp;
        <button>Reject</button>
    </div>
        </form> -->
        <script src ="{% static 'js/vr.js' %}"></script>

    </body>
</html>
{%endblock content %}