{% include 'navbar.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/VRCSS.css' %}"/>

        <title>
            Vacations Requests 
        </title>
        <style>
            body {
                background-image: url("{% static 'image/HP2v3.png' %}");
            }
        </style>  
    </head>
    <body>
        <div><h2> Vacations Requests </h2></div>
        
    </br></br>
    <!-- Container for the search results -->
    {% comment %} <div id="searchResults"></div>
        <div>
            {{ table }}

        </div>
        <div id="employeeList">
            {% for employee in employees %}
            <button class="employeeButton" onclick="VacationForm.VFName('{{ employee.VFName }}')">{{ employee.VFName }}</button>
            <button class="employeeButton" onclick="approve('{{ employee.EmployeeID }}')">Approve</button>
            <button class="employeeButton" onclick="reject('{{ employee.EmployeeID }}')">Reject</button>
            <br>
            <br>
            {% endfor %}
        </div>

        <script src ="{% static 'js/vr.js' %}">
        function approve(employeeID) {

    
   
    alert('Vacation request approved for Employee ID: ' + employeeID);
                                            }

    function reject(employeeID) {
  
    alert('Vacation request rejected for Employee ID: ' + employeeID);
                                                                        }
        </script> {% endcomment %}

        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Vacation ID
                    </th>
                    <th>
                        From Date
                    </th>
                    <th>
                        To Data
                    </th>
                    <th>
                        Reason
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            {% for instance in data %}
                <tr>
                    <td>
                        {{instance.fields.VFName}}
                    </td>
                    <td>
                        {{instance.fields.VFID}}
                    </td>
                    <td>
                        {{instance.fields.VFFromDate}}
                    </td>
                    <td>
                        {{instance.fields.VFToDate}}
                    </td>
                    <td>
                        {{instance.fields.VFReason}}
                    </td>
                    <td>
                        {{instance.fields.VFStatus}}
                    </td>
                    <td>
                        <a href="approve/{{ instance.fields.VFName }}" class="link"> Approve </a>
                    </td>
                    <td><a href="reject/{{instance.fields.VFName}}" class="link"> Reject </a>
                    </td>
                </tr>
            {%endfor%}
        </table>

    </body>
</html>
{%endblock content %}

