body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#button:hover{
    background-color:  #056c89;
}


a:link {
  text-decoration: none;
    color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}


::-webkit-input-placeholder {
  font-size: 130%;
}

input:focus::-webkit-input-placeholder {
  font-size: 150%;
  position: top;
  top: -15px;
  color: black;
  transition: 0.2s ease-out;
}

.here_icon{
  height: 150px;
  width: 150px;
}

/* Add a black background color to the top navigation */
.navBar {
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 50px;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #2f56d6;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: #458fe8;
  color: white;
}

.logo{
  float: right;
  color: #2f56d6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  margin-right: 5%;
}

h1{
  color: #12519f;
  font-size: 40px;
  margin: 0;
}

button {
  height: 40px;
  width: 100px;
  margin-top: 20px;
  border: 2px white;
  background-color: #12519f;
  font-size: 13px;
  color: white;
  border-radius: 15px;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;

}


table {
  border-collapse: collapse;
  width: 40%;
  color: #000000;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
} 

table th {
  background-color: #12519f;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 1px;
  border-top: 1px;
  border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: #b5b7f2;
}

table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.button:hover {
  background-color:rgb(255, 255, 255);
  transition: 0.7s;
  color:#12519f;
}
 
.button:hover .link{
  color:#12519f;
}