body {
    margin: 0;
    background-image: url("HP2v3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Style the links inside the navigation bar */
.navBar a {
    float: left;
    color: #2f56d6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

/* Change the color of links on hover */
.navBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navBar a.active {
    background-color: #458fe8;
    color: white;
}

.logo{
    float: right;
    color: #2f56d6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    margin-right: 5%;
}

h1{
    color: #12519f;
    font-size: 40px;
    margin: 0;
}