/*{% load static %}*/
body {
    margin: 0;
    /*background-image: url("{% static 'image/HP2v3.png' %}");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.logo{
    float: right;
    color: #2f56d6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    margin-right: 5%;
}

h1{
    font-size: 27px;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
.searchbox{
    text-align: center;
    background-color: white;
    width: 400px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    position: relative;
    margin-left: 35%;

}


#button{
    height: 35px;
    width: 320px;
    margin-top: 20px;
    background-color: #056c89;
    font-size: 15px;
    color: white;
    border-radius: 15px;
   
}
#button:hover{
    background-color:  #c3e4e9;
}

.inputbox{

    height: 20px;
    width: 150px;
    border-radius: 7px;
   
}

/* Style the table */
table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    border-radius: 9px;

  }

  /* Style the table header cells */
  th {
    background-color: rgba(175, 75, 64, 0.961);
    color: white;
    text-align: left;
    padding: 8px;
  }

  /* Style the table data cells */
  td {
    background-color: white;
    border: 1px solid white;
    padding: 8px;
  }

  /* Add zebra-striping to the table rows */
  tr:nth-child(even) {
    background-color: white;
  }

