
body {
    margin: 0;
    /*background-image: url("{% static 'image/HP2v3.png' %}");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1{
    font-size: 27px;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
.searchbox{
    text-align: center;
    background-color: white;
    width: 400px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    position: relative;
    margin-left: 35%;

}


#button{
    height: 35px;
    width: 320px;
    margin-top: 20px;
    background-color: #056c89;
    font-size: 15px;
    color: white;
    border-radius: 15px;
   
}
#button:hover{
    background-color:  #c3e4e9;
}

.inputbox{

    height: 20px;
    width: 150px;
    border-radius: 7px;
   
}
